html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  font-size: 64px;
}

body {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(to bottom, #22223b, #4a4e69);

}