html,
body {
  margin: 0;
  padding: 0;
  height: 396px;
  max-width: 1584px;
  font-size: 64px;
}

body {
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(to bottom, #22223b, #4a4e69);
  background-repeat: no-repeat;
}